@model IEnumerable<Product_Review_System.Models.Product>

@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>
@using (Html.BeginForm("Searchproducts", "Products", FormMethod.Get))
{
    @Html.TextBox("searchName")
    <input type="submit" value="Search" />
}

<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>

    </tr>

</table>
