@model Product_Review_System.Models.Product

@{
    ViewBag.Title = "Searchproducts";
}

<h2>Searchproducts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.image)
        </th>
        <th></th>
    </tr>


    <tr>

        <td>
            @Html.DisplayFor(modelItem => modelItem.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.description)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => modelItem.image)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
            @Html.ActionLink("Details", "Details", new { id = Model.id }) |
            @Html.ActionLink("Delete", "Delete", new { id = Model.id })
        </td>
    </tr>

</table>
